
head { font-family:'Helvetica', serif;
color: black; 
font-weight: bolder;}

body {
	background-color: #fcf8ec;
	color: rgb(30, 30, 30);	
font-family: 'Helvetica', sans-serif;
font-size:20px;
font-weight: lighter;
line-height: 1,6;
letter-spacing: 5px
font-weight: bolder;
}

h1{
	color: #79a3b1;
font-family: 'Times New Roman', serif;	
font-weight: 900;
	letter-spacing: 10px
	font-size: 40px;
}
a {text-decoration: none;}
p {text-justify: center;}

h2{
	color:#456268;
	font-size: 32px
}
h2{

	color: #456268;
	font-size: 24px
	font-weight: lighter;
	font-weight: 300
}

a {
	text-decoration: none;
	color: #6B72E1;
	font-weight: bold;
}
a: hover { 
	color: black;
}

/* Custom design with class */
.container {
	width: 700px;
	top-margin: 40px;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
}
@media (max-width: 500px) {
	.container{
		width: 400px; 
	}
}

@media (max-width: 760px) {
	.container{
		width: 600px; 
	}
}

.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,1);
	border-radius: 10px;
	margin:20px 0px;
	text-align: center;
}

.img-circle{
	border-radius: 50%;
}
.btn-blue{
	background-color:#6B72E1;
	color: white;
	padding: 15px 20px;
	border-radius: 10px
}
.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;
}
.list-inline i{
	font-size: 50px;
	color: rgb(150,150,150);
}
}
.list-inline i:hover{
	color:black;
}


#introduction p {
	margin-bottom: 40px;
}
